/* Variables */
:root {
    --color-main: #f8ccf9;
    --color-main-dark: #7e4b8b;
    --color-main-light: #fbf1f9;
    --color-secondary: #ae9da9;
    --color-secondary-dark: #aaaaaa;
    --default-font-size: 16px;
    --heading-1: 2.5rem;
    --heading-2: 2rem;
    --heading-3: 1.5rem;
    --border-radius: 4px;
    --border-color: var(--color-main);
    --btn-padding-x: 16px;
    --btn-padding-y: 8px;
    --input-padding-x: var(--btn-padding-x);
    --input-padding-y: var(--btn-padding-y);
    --input-margin-bottom: 22px;
}

/* Type */

body {
    margin: 0;
    padding: 0;
    font-size: var(--default-font-size);
    text-align: center;
    background-color: var(--color-main-light);
    padding: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: calc(40% - 12px) calc(60% - 12px);
    grid-template-rows: repeat(3,auto);
    gap: 24px;
    align-items: center;
    margin: 0 auto;
}

body:has(.cell) {
    background-color: var(--color-secondary);
}

h1,h2,h3,p,span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: var(--default-font-size);
    font: inherit;
    vertical-align: baseline;
}

h1 {font-size: var(--heading-1)}
h2 {font-size: var(--heading-2)}
h3 {font-size: var(--heading-3)}
h1, h2, h3 {font-weight: bold}

/* Modal Dialog */

dialog {
    background-color: var(--color-secondary);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    -webkit-box-shadow: 0 0 2px 2px var(--color-main);
    -moz-box-shadow: 0 0 2px 2px var(--color-main);
    box-shadow: 0 0 2px 2px var(--color-main);
}
dialog::backdrop {
    background-color: rgb(0 0 0 / 25%);
    z-index: 10;
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

label {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: var(--input-margin-bottom);
}

input {
    padding: var(--input-padding-y) var(--input-padding-x);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    margin-bottom: var(--input-margin-bottom);
}

input:focus {
    border: 1px solid var(--color-main-dark);
    -webkit-box-shadow: 0 0 2px 2px var(--color-main-dark);
    -moz-box-shadow: 0 0 2px 2px var(--color-main-dark);
    box-shadow: 0 0 2px 2px var(--color-main-dark);
}

/* General */

button {
    font-weight: 600;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    background-color: var(--color-main);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

.cell {
    flex: 1 1 33.3%;
    border: 1px solid var(--color-secondary);
    font-size: 28px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%;
    cursor: pointer;
}

/* Board */

.game-board {
    aspect-ratio: 1/1;
    background-color: var(--color-main-light);
}

.game-board:has(.cell) {
    width: 100%;
    border: 1px solid var(--color-secondary);
}

.mark {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%; 
}

[data-token='1'] {
    background-image: url('img/o-symbol.svg');
}

[data-token='2'] {
    background-image: url('img/x-symbol.svg');
}

/* Players */

.game-details {
    display: none;
}

body:has(.cell) .game-details {
    display: block;
}

.btn-restart {
    width: 100%;
    font-size: 1.125rem;
    padding: 16px 32px;
}

.players-info, .game-state {
    text-align: start;
    padding: 24px;
    background-color: var(--color-main-light);
}

.game-state {
    margin: 24px 0;
}

.players-info > div {
    padding: 16px;
    background-color: var(--color-secondary);
}

.players-info p, .game-state {
    font-size: 1.125rem;
    font-weight: 700;
}

.players-info p, .players-info span {
    margin-left: 8px;
    padding-top: 4px;
}

.players-info h2 {
    margin-bottom: 16px;
}

.players-info .row {
    margin-bottom: 8px;
}

.players-info > div:not(:last-child) {
    margin-bottom: 24px;
}

/* Mobile */
@media (max-width: 767px) {
    .game-details {
        grid-area: 1/1/2/3;
    }
    
    .game-board {
        grid-area: 2/1/3/3;
    }
    
    .players-info {
        grid-area: 3/1/4/3;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .game-details {
        grid-area: 1/1/3/2;
    }
    
    .game-board {
        grid-area: 1/2/3/3;
    }
    
    .players-info {
        grid-area: 3/1/4/3;
    }

    .players-info {
        display: flex;
        gap: 24px;
    }

    .players-info > div:not(:last-child) {
        margin-bottom: 0;
    }

    .players-info > div {
        flex-grow: 1;
    }
}

/* Desktop */
@media (min-width:992px) {
    .game-details {
        grid-area: 1/1/2/2;
    }
    
    .game-board {
        max-width: 575px;
        grid-area: 1/2/4/3;
    }
    
    .players-info {
        grid-area: 2/1/4/2;
    }
}